fieldset.box legend {
    padding-left: 2px;
    background-image: none;
    cursor: default;
}

#admin-menu a.email-configurations {
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0% 50%;
}

#projects_list {
    padding-left: 300px;
}
